# object files in any directory
**/*.o
# compiled programs
dwm/dwm
st/st
bin/dwmstat

# patching leftovers
*.orig
*.rej

# overwritten configs & backups
config/dunst/dunstrc
config/alacritty/alacritty.yml
**/*.bak
