# object files in any directory
**/*.o

# clangd lsp files
compile_commands.json
.cache/

# compiled binaries
dwm/dwm
st/st
bin/dwmstat

# patching leftovers
*.orig
*.rej

# overwritten configs & backups
config/dunst/dunstrc
config/alacritty/alacritty.yml
**/*.bak
